<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
		<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

	<link>
</head>

<body>
	<div th:replace="admin/base :: body"></div>
	<div class="container p-5 mt-3">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card card-sh">
					<div class="card-header text-center ">
						<p class="fs-4">Update Product</p>
						<th:block th:if="${session.successMsg}">
							<p class="text-success fw-bold">[[${session.successMsg}]]</p>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

					</div>
					<div class="card-body">
						<form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
							<div class="mb-3">
								<label>Enter Title</label> <input type="text" name="title" class="form-control"
									th:value="${product.getTitle}">
							</div>
							<input type="hidden" name="prodId" th:value="${product.id}">
							<div class="mb-3">
								<label>Enter Description</label>
								<textarea rows="3" cols="" class="form-control"
									name="description">[[${product.description}]]</textarea>
							</div>
							<div class="row">
								<div class="mb-3 col">
									<label>Category</label>
									<select class="form-control" name="catagory">
										<option>[[${product.catagory}]]</option>
										<option th:each="c:${catagory}">[[${c.name}]]</option>
									</select>
								</div>

								<div class="mb-3 col text-success">
									<label>Enter Price</label> <input type="number" name="price" class="form-control"
										th:value="${product.price}">
								</div>
								</div>
								<div class="row">
								<div class="mb-3 col">
									<label>Discount</label> <input type="number" name="discount" class="form-control"
										th:value="${product.discount}">
								</div>
								<div class="mb-3 col">
									<label>Discount Price</label> <input type="number" class="form-control"
										th:value="${product.discountPrice}" disabled>
								</div>
							</div>
							<div class="mb-3 col">
								<label>Status</label>

								<div class="form-check">
									<input class="form-check-input" type="radio" checked value="true" name="status"
										id="flexRadioDefault1" th:checked="${product.status} == true">
									<label class="form-check-label" for="flexRadioDefault1">
										Active </label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="status" value="false"
										id="flexRadioDefault2" th:checked="${product.status} == false"> <label
										class="form-check-label" for="flexRadioDefault2">
										Inactive </label>
								</div>

							</div>
							<div class="row">

								<div class="mb-3 col">
									<label>Enter Stock</label> <input type="text" name="stock" class="form-control"
										th:value="${product.stock}">
								</div>

								<div class="mb-3 col">
									<label>Upload Image</label> <input type="file" name="file" class="form-control">
								</div>
								<div class="mb-3 ">
									<img th:src="@{'/img/category_img/' + ${product.imageName}}" width="100px"
										height="100px">
								</div>
							</div>
							<button class="btn btn-primary col-md-12">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>