* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: #F1F3F6;
}

header {
	height: 7vh;
	width: 100%;
	background-color: rgb(163, 214, 214);
}

.mainContainer {
	height: 80vh;
	width: 70%;
	margin: auto;
	display: flex;
}

.leftCon {
	height: 100%;
	width: 65%;
}

.innCon {
	height: 70%;
	width: 100%;
	margin: 10px 0;
	background-color: #F5FAFF;
}

.innCon>h2 {
	text-align: center;
	padding: 10px;
}

.innCon>.name,
.emailAndMobile,
.addressAndCity,
.state {
	height: 15%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;

}

.input {
	height: 90%;
	width: 47%;
	font-size: 16px;
	padding-left: 5px;
	outline: none;
	margin: 7px 5px;
	background-color: #FFFFFF;
	border: 1px solid #e0e0e0;
}

.rightCon {
	height: 56vh;
	width: 35%;
	padding-left: 10px;
	background-color: #FFFFFF;
	margin-top: 6vh;
}

.box1 {
	margin: 10px 2px 10px 0;
}

.rightCon>.box2,
.box3,
.box4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 5px 3px 0px;
	font-size: 13px;

}

.box5 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 22px 5px 3px 0px;
	font-weight: 700;
}

.payment {
	height: 30%;
	width: 100%;
}

.paymentType {
	height: 100%;
	border: 1px solid #e0e0e0;
	margin-top: 20px;
}

.paymentType>h4 {
	font-size: 14px;
	padding: 10px 10px;
	margin-top: 10px;
}

#paymentOp {
	width: 90%;
	height: 30%;
	margin-left: 10px;
	margin-top: 5px;
	letter-spacing: 1px;
	font-size: 14px;
}

.box6 {
	height: 25%;
	width: 100%;
	border: 1px solid #0D6EFD;
	margin: 5px 5px 0 0px;
	border-radius: 5px;
}

.box6>a {
	height: 100%;
	width: 100%;
}

.box6>a>button {
	height: 100%;
	width: 100%;
	background-color: #0D6EFD;
	color: white;
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: 1px;
	outline: none;
	border: none;
	cursor: pointer;
}

.quantity {
	height: 25px;
	width: 25%;
	display: flex;
}

.quantity>.decrement {
	height: 100%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
}

.quan {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-weight: 700;
	border: 1px solid black;
}

.increment {
	height: 100%;
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

.increment a,
.decrement a {
	text-decoration: none;
	color: black;
}