@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Fira Sans", sans-serif;
}

main {
	height: 100vh;
	width: 100%;
}

.MainBox {
	height: 70%;
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	box-shadow: 2px 2px 20px rgb(148, 146, 146);

}

.heading {
	height: 8%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	/* font-weight: 800; */
}

.innCon {
	height: 91%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}

.left>.image {
	height: 55%;
	width: 55%;
	/* border: 1px solid blue; */
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 4.3% 4.3%;
}

.left>.image>img {
	height: 76%;
	width: 80%;
	/* border: 1px solid blue; */
	transition: all 0.8s ease-in-out;
	overflow-y: hidden;
}

.left>.image>img:hover {
	cursor: pointer;
	transform: scale(1.3);
}

.productBtn {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.productBtn>button {
	height: 70%;
	width: 28%;
	background-color: #0D6EFD;
	border: 2px solid white;
	border-radius: 8px;

}

.productBtn>button>a {
	text-decoration: none;
	color: white;
}

/* right start */
.right {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.rightInn {
	height: 60%;
	width: 100%;
	margin-left: 23px;
	margin-top: 15%;
}

.productName {
    height: 15%;
    width: 100%;
	display: flex;
	align-items: center;
}

.productName h3 {
	font-size: 26px;
	font-weight: 500;
}

.productDescription {
	min-height: 17%;
    width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 800;
	margin: none;

}

/* .productDescription > .des{
    font-size: 16px;
    font-weight: 800;
    font-family: "Roboto Mono", monospace;
   margin: none;
   padding-top: 5px;
} */
.productDescription>p {
	font-size: 14px;
	font-weight: 400;
	margin: none;
	letter-spacing: 1px;
}

.productDetails {
	height: 115px;
	width: 70%;
}

.productDetails>span {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 10px;

}

.status {
	font-size: 15px;
	margin: 5px 0;
}

.available {
	display: inline-block;
	height: 25px;
	width: 75px;
	background-color: green;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.notAvailable {
	display: inline-block;
	height: 25px;
	width: 75px;
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 5px;
}

.productCatagory {
	font-size: 14.5px;
	margin: 7px 0;
}

.productPolicy {
	font-size: 14.5px;
}

.productPrice {
	height: 37px;
	width: 80%;
	/* display: flex; */
}

.productPrice>.priceStatic {
	font-weight: 900;
}

.productPrice>.discountPrice {
	padding-left: 10px;
	font-weight: 900;
}

.productPrice>.originalPrice {
	font-size: 13px;
	font-weight: 600;
	color: rgb(66, 65, 65);
	padding-left: 5px;
	text-decoration: line-through;
}

.productPrice>.priceOff {
	font-size: 12.5px;
	font-weight: 600;
	color: green;
	padding-left: 3px;
}

.productLogo {
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.productLogo>.logo {
	height: 90%;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ri-cash-fill,
.ri-reset-left-line,
.ri-truck-fill {
	font-size: 28px;
	color: rgb(12, 133, 12);
}

.logoName {
	font-size: 14px;
	font-weight: 600;
}

.disabled-link {
	pointer-events: none;
	color: grey;
	text-decoration: none;
}

.productBtn button:disabled {
	background-color: rgb(255, 255, 128);
	cursor: not-allowed;
}